<ion-view title="Info">
	<ion-content overflow-scroll="true" padding="true">
	<div class="infodiv">
		<div class="card">
			<div class="item item-text-wrap">
					<h1 class="infotext">Unipd App</h1>
					<p>Questa è una applicazione non ufficiale, che cerca di essere d'aiuto agli studenti dell'Università di Padova.</p>
					<p>I dati mostrati sono ottenuti tramite il sito dell'ESU e tramite le pagine web dell'Università; pertanto, potrebbero non essere perfettamente aggiornati. Se ci sono dati errati, contattaci!</p>
				</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
					<h2 class="infotext">DIRITTO ALLO STUDIO</h2>
					<p>Puoi ottenere maggiori informazioni nell'apposita sezione del sito di Studenti Per - Udu Padova: <a href="#" onclick="window.open('http://studentiper.tumblr.com/tagged/dsu', '_system');">link</a>.</p>
					<p>Tendenzialmente, ricordati queste cose:</p>
					<ul>
						<li>- Presenta <strong>sempre</strong> l'ISEE.</li>
						<li>- Resta in passo con gli esami! Evitare di andare fuoricorso aiuta a mantenere le tasse basse.</li>
						<li>- Per qualunque problema, prova a parlare con lo sportello "Diritto allo Studio" dell'Università. Hai tentato e c'è qualche problema? Contatta Franco!</li>
					</ul>
				</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
					<h2 class="infotext">UDU PADOVA</h2>
					<p>Segui tutte le iniziative di Udu Padova attraveso la pagina ufficiale: <a href="#" onclick="window.open('https://www.facebook.com/studentiper.udupadova', '_system');">link.</a></p>
				</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
					<h2 class="infotext">CREDITS</h2>
					<p>App realizzata da <a href="#" onclick="window.open('http://mikexine.com', '_system');">Michele</a>, con la collaborazione di Udu Padova.</p>
					<p>Vuoi darci una mano? Il sorgente è disponibile su <a href="#" onclick="window.open('https://github.com/mikexine/unipd-app', '_system');">Github</a>!</p>
					<p>Non lasciare subito una recensione negativa sull'App Store, prima prova a contattarci! Siamo raggiungibili via <a href="mailto:mikexine@gmail.com">email</a> o via Telegram: <a href="#" onclick="window.open('https://telegram.me/mikexine', '_system');">@mikexine</a>.</p>
				</div>
		</div>
	</div>
	</ion-content>
</ion-view>