<ion-view title="Tabs Controller">
    <ion-tabs tabs-swipable class="tabs-assertive tabs-icon-top">
        <ion-tab title="Mensa" icon="ion-pizza" href="#/tab/mensa">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Aula Studio" icon="ion-edit" href="#/tab/aulastudio">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Biblioteca" icon="ion-ios-bookmarks" href="#/tab/biblioteca">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Info" icon="ion-information-circled" href="#/tab/info">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>